*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(54, 53, 53, 0.658);
}
.container{
    width: 400px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: -1px 2px 0px 0px rgb(0 0 0);
    transform: translate(-50%, -50%);
    background-color: rgb(45 50 116 / 56%);
}
.container h1{
    text-align: center;
    font-size:larger ;
    text-transform: uppercase;
    color: azure;
    margin: 15px auto -14px;
}
.placeEcran{
    display: grid;
    width: 90%;
    margin: 0px 25px;
    grid-template-columns: 85% 10%;
}
.placeEcran .ecran, .placeEcran .icon svg{
    border: 1px solid black;
    margin: 25px 0px 15px 0;
    box-shadow: inset -1px 0px 10px 0px #ebe8e8;
    border: none;
    width: 100%;
}
.placeEcran .ecran{
    padding: 10px 1px;
    height: 50%;
    text-indent: 25px;
    color: aliceblue;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.placeEcran .icon svg{
    stroke: aliceblue;
    cursor: copy;
    padding: 10px 1px;
    border-radius: 0 5px 5px 0;
}
.selection {
    display: grid;
    grid-template-columns: 80% 15%;
    grid-gap: 1%;
    width: 90%;
    justify-content: center;
    position: relative;
    margin: -14px auto 25px;
}
.selection label, .selection input{
    cursor: pointer;
    margin: 8px;
    text-transform: capitalize;
    color: azure;
}
.selection input[type='number']{
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    border-radius: 5%;
    color: white;
    background-color: #856d9f;
    text-align: center;
    font-weight: bolder;
}
.selection .btn{
    padding: 15px;
    grid-column: span 2;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: azure;
    font-weight: bolder;
    background-color: rgb(106 106 114 / 52%);
    border: none;
    margin-top: 3px;
}
.selection .btn:hover{
    transition: 2s;
    background-color: rgb(165 12 243 / 77%);
    transform: translateY(10px);
}

blockquote{
    text-align: center;
    padding: 5px 0 10px 0;
    margin: -10px 0 0 0;
    text-transform: uppercase;
    font-family: fangsong;
    font-size: medium;
    color: oldlace;
}
